*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* margin相关 */
.mt-6{margin-top: 6px;}
.mt-12{margin-top: 12px;}
.mt-18{margin-top: 18px;}
.mt-18{margin-top: 24px;}

.mb-6{margin-bottom: 6px;}
.mb-12{margin-bottom: 12px;}
.mb-18{margin-bottom: 18px;}
.mb-24{margin-bottom: 24px;}

.ml-6{margin-left: 6px;}
.ml-12{margin-left: 12px;}
.ml-18{margin-left: 18px;}
.ml-24{margin-left: 24px;}

.mr-6{margin-right: 6px;}
.mr-12{margin-right: 12px;}
.mr-18{margin-right: 18px;}
.mr-24{margin-right: 24px;}


/* flex相关 */
.flex{display: flex; align-items: center;}
.flex.wp{flex-wrap: wrap;}

/* 鼠标形状 */
.cu-pt{ cursor: pointer;}